.a-better-workplace-list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  border-top-right-radius: 4%;
  width: 800px;
  height: 200px;
}

.header {
  &__workplace{
  background-color: rgb(160, 234, 253);
  }
}
.firstAid{
    background-color: rgb(247, 191, 191);
  }
.fitness{
  background-color: rgb(158, 253, 155);
}



th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
