@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.full-list {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;


  &__table {
    width: 80vw;
    border: 2px solid forestgreen;
    border-top-right-radius: 4%;

  }
  &__column-titles {
    &--workplace {
      background-color: rgb(160, 234, 253);
    }
    &--firstAid {
      background-color: rgb(247, 191, 191);
    }
    &--fitness {
      background-color: rgb(158, 253, 155);
    }
  }

  &__body-wrap {
    &--workplace {
      background-image: url("../../assets/images/background/plantingcamp.jpg");
    }
    &--first-aid {
      background-image: url("../../assets/images/background/firstAidSnip.JPG");
    }
    &--fitness {
      background-image: url("../../assets/images/background/fitness.JPG");
    }
  }
}


th {
  border-bottom: 3px solid black;
}

td {
  text-align: center;
}
