/** Site colours */

/* Primary Colours */
$ISBlack: #13182c;
$ISIndigo: #2e66e5;
$ISWhite: #ffffff;

/* Secondary Colours */
$ISSlate: #5c667e;
$ISCloud: #bdc5d5;

/* Background Colours */
$ISGraphite: #232940;
$ISLightGrey: #f7f8f9;

/* Supporting Colours */
$ISGreen: #158463;
$ISRed: #c94515;
